/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
:root {
	--default: #4d4c4c;
	--primary: #005a9b;  
	--gray: #C8C8C8;
	--black: #000000;
	--green: #32DA08;
	--red: #FF0000;
	--lightgray : #f9f8f7;	
}
html, body,#root { height:100%;}
body {font-family: 'Montserrat', Arial, Helvetica, sans-serif; font-smoothing:antialiased; color:var(--default); font-size: 0.8rem; background-color: #F1F5F9;}
img { max-width:100%; height:auto;}
strong, b, .bold {font-weight:700;}
.medium { font-weight: 600 !important; }
.bolder {font-weight:900 !important;}
a, button, input[type=submit] { -webkit-transition: all ease 0.3s; -moz-transition: all ease 0.3s; -o-transition: all ease 0.3s; -ms-transition: all ease 0.3s; transition: all ease 0.3s; }
a, .btn-link, .text-red {color:var(--primary);}
a:hover, a:focus, button, .btn { text-decoration:none;}
a.text-primary:focus, a.text-primary:hover {color: var(--primary)!important;}
label { font-weight:600; }
iframe { width:100% !important; }
small, .small {font-weight: inherit}
sub, sup {font-size:50%;}
hr { border-width:2px; border-color: rgba(0,0,0,0.1) !important;}
.row-gap {margin:0 -5px;}
.row-gap [class*="col-"], .row-gap .col {padding:0 5px;}
.form-control { font-weight: 400; color: var(--black); font-size: 0.8rem;}
.form-control:focus { background-color: var(--white); }
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control { background-color:var(--white); border-color:var(--primary-light); opacity:1; color:#696969;}
.form-control::placeholder { color: var(--gray);  opacity: 1; }
.form-control:-ms-input-placeholder {color: var(--black);}
.form-control::-ms-input-placeholder { color: var(--black);}
textarea.form-control {min-height: 80px; padding: .7rem 1rem;}
textarea.h-large {min-height: 150px;}
select.form-control, select, .custom-select { -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url(../images/down-arrow.svg); background-size: 10px; background-repeat:no-repeat; background-position:calc(100% - 15px) center; display:inline-block; vertical-align:middle; cursor:pointer; padding-right: 30px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; outline:0 !important;}
select:focus, option:focus { outline:0 !important; }
select[multiple].form-control { -webkit-appearance: none; -moz-appearance: none; appearance: none; background:none; padding-right:25px; height:auto; }
select::-ms-expand { display:none; }
.form-group {margin-bottom: 1.2rem;}
.btn {padding-left:1.5rem; padding:0 1.5rem; font-size: 0.8rem; font-weight: 600; height: 38px; line-height: 36px;  }
.btn-lg {font-size: 0.9rem; height: 48px; line-height: 46px;}
.btn-sm {font-size: 0.7rem; padding: 0 1.2rem; height: 30px; line-height: 28px;}
.btn-icon { padding-left: 1rem; padding-right: 1rem;}
.btn-icon img {max-height: 16px;}
.btn:hover {box-shadow: 0 0 0 0.1rem rgb(23 70 158 / 20%);}
.btn-outline-default, .bootstrap-select > .btn.btn-outline-default, .btn-default.disabled, .btn-default:disabled {border-color:var(--black); color: var(--black);}
.btn-outline-default:hover, .btn-outline-default:focus, .btn-outline-default:active, .btn-outline-default:not(:disabled):not(.disabled):active, .btn-outline-default:not(:disabled):not(.disabled).active, .show > .btn-outline-default.dropdown-toggle { background-color:var(--black); border-color:var(--black); color: var(--white); }
.btn-primary {background-color:var(--primary); border-color:var(--primary);}
.btn-outline-primary, .bootstrap-select > .btn.btn-outline-primary, .btn-outline-primary.disabled, .btn-outline-primary:disabled {border-color:var(--primary); color: var(--primary);}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle { background-color:var(--primary); border-color:var(--primary); color: var(--white); }

.btn-outline-secondary, .bootstrap-select > .btn.btn-outline-secondary, .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {border-color:var(--primary); color: var(--default);}

.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle { background-color:var(--primary); border-color:var(--primary); color: var(--white); }

.btn-outline-primary:hover .icon-fill svg path, .btn-outline-primary:focus .icon-fill svg path { fill: var(--white);}

.btn-outline-primary:hover .icon-outline svg path, .btn-outline-primary:focus .icon-outline svg path { stroke: var(--white);}

.btn-secondary, .btn-secondary.disabled, .btn-secondary:disabled {background-color:var(--primary); border-color: var(--primary)}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle { background-color:var(--primary); border-color:var(--primary); color: var(--white); }

.btn-default, .btn-default.disabled, .btn-default:disabled {background-color:var(--gray); border-color: var(--gray)}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:not(:disabled):not(.disabled):active, .btn-default:not(:disabled):not(.disabled).active, .show > .btn-default.dropdown-toggle { background-color:var(--black); border-color:var(--black); color: var(--white); }

.border-light { border-color:#ccc !important;}

.text-muted {color: #8b8b8b8 !important;}

.regular { font-weight:400 !important;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-weight:600; font-family: var(--font-secondary);}

.h1, h1 { font-size:3.5rem; }

.h2, h2 { font-size:2.4rem; }

.h3, h3 { font-size:1.8rem; }

.h4, h4 { font-size:1.1rem; }

.h5, h5 {font-size:0.9rem;}

hr {margin-top: 1.5rem; margin-bottom: 1.5rem; border-color:#eee;}

.bg-default { background-color: var(--default);}

.bg-primary {background-color: var(--primary) !important;}

.bg-dark {background-color: #6db784 !important;}

.bg-gray {background-color: var(--lightgray) !important;}
.bg-light {background-color: #f5eec2 !important;}

.bg-lightgray {background-color: #f8f8f8 !important;}
.bg-gradient { background: linear-gradient(160deg, rgba(134,165,99,1) 0%, rgba(43,116,162,1) 100%) !important;}
.text-primary, .blue {color: var(--primary) !important}

.text-red{color: var(--red) !important;}

.green{color: var(--green) !important}

.red{color: var(--red) !important}

.text-default {color: var(--default) !important}

.text-black {color: var(--black) !important}

.text-large { font-size: 1rem;}


@-webkit-keyframes autofill { to {background: transparent;} }

input:-webkit-autofill {-webkit-animation-name: autofill; -webkit-animation-fill-mode: both;}

.relative { position:relative; }

.bootstrap-select > .btn { background-color:var(--white); border:1px solid #ced4da; height: calc(2.25rem + 2px); line-height: 1.8; padding: .375rem .75rem; border-radius: .25rem; font-weight: 400;}

.bootstrap-select.border-0 > .btn { border: none;}

.bootstrap-select > .btn:hover { box-shadow: none;}

.bootstrap-select > .btn:focus, .bootstrap-select.show > .btn-light.dropdown-toggle, .bootstrap-select.show > .btn-light.dropdown-toggle:active { color: #495057; background-color: #fff; border-color: #80bdff;

    outline: 0; box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);}

.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle { border-color: var(--primary);}

.dropdown .dropdown-toggle:after { content:''; background: url("../images/down-arrow.svg") no-repeat center; border:none; width: 20px; height: 20px; background-size: 10px; margin-right: -5px;}

.dropup .dropdown-toggle:after{ transform: rotate(180deg)}

.bootstrap-select .no-results {padding:1rem; margin: 0; font-size: .85rem; background: var(--white); color: var(--default);}

.bootstrap-select > .btn-primary {background-color: var(--primary); border-color: var(--primary); color: var(--white);}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-primary {color: var(--white);}

.bootstrap-select > .btn-secondary {background-color: var(--primary); border-color: var(--primary); color: var(--white);}

.bootstrap-select > .dropdown-toggle.bs-placeholder.btn-secondary {color: var(--white);}

.bootstrap-select .dropdown-toggle:focus, .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {outline: 0 !important;}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:active, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover {color:#777;}

.bootstrap-select .dropdown-toggle .filter-option-inner-inner {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}

.dropdown-menu {box-shadow: 0 0 10px 0 rgba(0,0,0,0.1); border:none; padding:0.2rem 0; margin:0;}

.dropdown-item-text {color: var(--primary); padding: .5rem 1rem; font-size: 0.8rem; font-weight: 700;}

.dropdown-item, .dropdown-menu a  {color: var(--default); font-size: 0.8rem; font-weight: 600; padding:0.5rem 1rem; white-space: inherit; display:block;}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {background-color: rgba(248,248,252,0.5); color: #1d2c48;}
.dropdown-item.active, .dropdown-item.active:hover { background:none; font-weight:600; color:var(--primary);}
.bootstrap-select .dropdown-header {color: var(--default); font-weight: 500;}
.bs-actionsbox, .bs-donebutton, .bs-searchbox {padding: 10px;}
.bootstrap-select.form-control-lg .dropdown-toggle { height:45px;}
.bootstrap-select.form-control-lg .dropdown-toggle .filter-option-inner-inner { padding:3px 0;}
.bootstrap-select.form-control-lg .dropdown-toggle::after { width:auto; margin-top: -18px;}
.btn-light, .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {color: var(--default); background-color:var(--white); border-color: var(--white);}
.btn-light:hover {background-color: var(--white);}
.btn-radio input[type="radio"] + label, .btn-checkbox input[type="checkbox"] + label { position: relative; padding:0 0 0 25px; margin:0; cursor:pointer; display:inline-block; color:var(--default); font-weight:normal; min-height: 20px;}
.btn-radio input[type="radio"], .btn-checkbox input[type="checkbox"] { display:none; }
.btn-checkbox input[type="checkbox"] + label:before { border:2px solid #ced4da; border-radius: 0.25rem; content:""; display:inline-block; width:18px; height:18px; left:0;  position: absolute; top:2px; background:transparent; }
.btn-checkbox input[type="checkbox"]:checked + label:before { background:var(--primary); border-color:var(--primary); }
.btn-checkbox input[type="checkbox"] + label:after, .dropdown-menu .inner[aria-multiselectable="true"] .dropdown-item span.check-mark:after { content:''; position:absolute; top:7px; left:4px; width:10px; height:5px; border:solid transparent; border-width:0 0 2px 2px; line-height:0; -webkit-transition-duration:0.2s; transition-duration:0.2s; -ms-transform:rotate(-45deg) scale(2); -webkit-transform:rotate(-45deg) scale(2); transform:rotate(-70deg) scale(2); }
.btn-checkbox input[type="checkbox"]:checked + label:after, .dropdown-menu .inner[aria-multiselectable="true"] .dropdown-item.selected span.check-mark:after { -ms-transform:rotate(-45deg) scale(1); -webkit-transform:rotate(-45deg) scale(1); transform:rotate(-45deg) scale(1); border-color:var(--white); }
.btn-radio input[type="radio"] + label:before { border:2px solid #ced4da; content: ""; display: inline-block; width:18px; height: 18px; left: 0; position: absolute; top:2px; border-radius:50%; }
.btn-radio input[type="radio"]:checked + label:before { border-color:var(--primary); }
.btn-radio input[type="radio"] + label:after { width:10px; height:10px; display:inline-block; position:absolute; top:6px; left:4px; line-height:0; background:var(--primary); content:''; border-radius:50%; -ms-transition-duration:0.2s; -webkit-transition-duration:0.2s; transition-duration:0.2s; -ms-transform:scale(0); -webkit-transform:scale(0); transform:scale(0); }
.btn-radio input[type="radio"]:checked + label:after { -ms-transform:scale(1); -webkit-transform:scale(1); transform:scale(1); }
.btn-radio input[type="radio"]:disabled + label, .btn-checkbox input[type="checkbox"]:disabled + label { opacity: 0.5; }
.checkbox-inline, .radio-inline { padding:0 20px 15px 0; }
.checkbox-inline + .checkbox-inline, .radio-inline + .radio-inline { margin-top:0; margin-left:0; }
.login-form .form-control { border:solid #C5C5C5; border-width: 0 0 1px 0; border-radius: 0; padding: 0 0 0 2rem; box-shadow: none; color: var(--black); height: 50px; }
.input-user .form-control { background: url(../images/user.svg) no-repeat 0 center var(--white); background-size:18px; }
.input-pass .form-control { background: url(../images/lock.svg) no-repeat 0 center var(--white); background-size:18px; padding-right: 50px; }
.input-pass { position: relative;}
.toggle-password { cursor: pointer; position: absolute; top: 0; right: 0; background: url(../images/eye-slash.svg) no-repeat center right; background-size:18px;  width: 40px; height: 100%; z-index: 2;}
/* .toggle-password.is-text { background-image: url(../images/eye.svg);} */
.fgt-pass:hover { color: var(--black) !important;}
.page-topbar { position: fixed; top: 0; right: 0; left: 250px; z-index: 1002; background-color: var(--white); box-shadow: 0 2px 4px rgb(15 34 58 / 12%); height: 70px; transition-duration: 0.4s;}
.is-open .page-topbar { left: 0; padding-left: 120px;}
.topbar-search .form-control {height: 100%; border:none; box-shadow: none; border-radius: 0; padding: 0 0 0 3rem; background: url(../images/search.svg) no-repeat 1.2rem center; background-size:18px; }
.page-topbar .nav-link { line-height: 70px; padding: 0 1rem; position: relative;}
.header-notify .nav-link  .badge { background: var(--gray); padding: 0; width: 18px; height: 18px; border-radius:100%; text-align: center; font-size: 70%; color: var(--white); line-height: 18px; position: absolute; top: 20px; right: 5px;}
.avtar-img {max-height: 40px;}
.avtar-title { font-size: 0.725rem; color: var(--default); font-weight: 600;}
.vertical-menu {min-width: 250px; width:250px; z-index: 1005; background: #6db784 !important; left: 0; bottom: 0; margin-top: 0; position: fixed; top: 0; padding-bottom: 70px; transition-duration: 0.4s;}
.is-open .vertical-menu {left: 0; min-width: 70px; width: 70px;}
.nav-blocker { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 10; display: none; cursor: pointer}
.is-open .nav-blocker { display: block;}
.menu-logo {padding:0; width: 250px; position: fixed; z-index: 1; transition-duration: 0.4s;}
.navbar-brand-logo { display: block; color: var(--white); padding:1rem 80px 0.5rem 1.5rem;}
.navbar-brand-logo img { height: 80px; margin: 0 auto; display: block; width: auto; transition-duration: 0.4s;}
.navbar-brand-logo:hover, .navbar-brand-logo:focus {color: var(--white);}
.navbar-brand-title {display: block; font-weight: 600; text-align: center; font-size: 1rem; padding: 0.3rem 0 0}
.navbar-menu { position: absolute; top: 80px; left: 0; width: 100%; height: calc(100% - 80px); overflow-x: auto; padding: 40px 0 0;}
.navbar-menu .nav-link { color: var(--white); padding:1rem 1.5rem; display: -ms-flexbox; display: flex; align-items: center; font-size: 0.8rem; font-weight: 600; position: relative;}
.navbar-menu .nav-link:hover, .navbar-menu .nav-item.active .nav-link {opacity:1}
.navbar-menu .nav-item.active .nav-link:before { content: ''; width: 2px; height: 100%; background: var(--white); position: absolute; top: 0; left: 0;}
.navbar-menu .nav-icon {width: 40px;}
.navbar-menu .nav-icon img {max-height: 30px;}
.navbar-menu .sub-menu {list-style: none; margin: 0; padding: 0 0 0 70px;}
.navbar-menu .sub-menu .nav-item .nav-link { padding: 5px 0; font-weight: 400; opacity:0.7;}
.navbar-menu .sub-menu .nav-link.active {opacity: 1;}
.navbar-menu .sub-menu .nav-link:before { display: none;}
.navbar-menu [data-toggle="collapse"].nav-link:after { content: ''; width: 12px; height: 12px; background: url(../images/white-down-arrow.svg) no-repeat center; position: absolute; top: 22px; right: 10px; background-size:100%; transform: rotate(180deg); transition-duration: 0.4s;}
.navbar-menu [data-toggle="collapse"].nav-link.collapsed:after {transform: rotate(0);}
.dropdown .dropdown-menu {animation-name: DropDownSlide; animation-duration: .3s; animation-fill-mode: both; top: 100% !important;}
.dropdown .dropdown-menu-end[style], .dropdown  .dropdown-menu-right {left: auto!important; right: 0!important;}
.dropdown-lg {width: 320px;}
.datepicker.dropdown-menu { font-size: 0.8rem; padding: 0.7rem;}
.datepicker td, .datepicker th {height: 25px;}
.input-daterange input:first-child, .input-daterange input:last-child { border-radius:0.25rem;}
.date-input { background: url("../images/calendar-icon.svg") no-repeat calc(100% - 10px) center var(--white); background-size: 16px;}
.icon-right img { position: relative; right: -8px;}
.dash-card .dropdown {position: absolute; top: 0; right: 10px;}
.dash-card .dropdown-dots {font-size: 1.5rem; font-weight: 700; display: inline-block; padding: 0 5px 5px; letter-spacing: 0.1rem; color: var(--white);}
.dash-card .media-img { height: 40px; width:auto}
.dash-card-1 { background: #5C4E8E !important}
.dash-card-2 { background: #3FB65F !important}
.dash-card-3 { background: #EA6C63 !important}
.dash-card-4 { background: #FFC000 !important}
.nav-collapse-btn {position: absolute; top:10px; right:0; z-index: 10; cursor: pointer; width:50px; height:50px; -webkit-transition-duration:0.4s; transition-duration:0.4s; display: block; padding: 0; background: none; bordeR:none; border-radius: 0;}
.nav-collapse-btn:focus { outline:none;}
.is-open .nav-collapse-btn { right:-50px;}
.nav-collapse-btn span, .nav-collapse-btn span:before, .nav-collapse-btn span:after { right:0; content: ''; position: absolute; display: block; width:26px; height:2px; background: var(--white); cursor: pointer; border-radius: 8px;}
.is-open .nav-collapse-btn span, .is-open .nav-collapse-btn span:before, .is-open .nav-collapse-btn span:after {background: var(--primary);}
.nav-collapse-btn span {top:25px; right: 10px;}
.nav-collapse-btn span:before {top:-8px;  width: 10px; }
.nav-collapse-btn span:after {bottom: -8px; width: 20px;}
.nav-collapse-btn span, .nav-collapse-btn span:before, .nav-collapse-btn span:after {-webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out;}
.nav-collapse-btn.active span {background-color: transparent}
.nav-collapse-btn.active span:before, .nav-collapse-btn.active span:after {top: 0; background:var(--white);}
.nav-collapse-btn.active span:before {-webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg);}
.nav-collapse-btn.active span:after {top: 10px; -webkit-transform: translateY(-10px) rotate(-45deg); -ms-transform: translateY(-10px) rotate(-45deg); transform: translateY(-10px) rotate(-45deg);}
.list-number { width: 100px;}
.pagination .page-link { background: none; border:none; border-radius: 4px; margin: 0 2px; color: var(--black);}
.pagination .page-link.active { background: var(--default); color: var(--white);}
.pagination .page-link:hover { background: var(--white); color: var(--black);}
.pagination .page-link.next, .pagination .page-link.prev { background: var(--white); border:solid 1px var(--gray);}
.pagination .page-link.next:after, .pagination .page-link.prev:before { content:''; background: url(../images/arrow-right.svg) no-repeat center; width: 10px; height: 10px; display: inline-block;}
.pagination .page-link.next:after { margin: 0 0 0 8px;}
.pagination .page-link.prev:before { margin:0 8px 0 0; transform: rotate(180deg)}
.dashboard { margin:0 0 0 250px; overflow: hidden; transition-duration: 0.4s;}
.is-open .dashboard { margin:0;}
.dashboard-content {padding: calc(70px + 1.25rem) calc(2rem / 2) 60px;}
.table thead { background: #F1F5F9; border: none; color: var(--black);}
.table th, .table td { border:none;}
.table-border td { border-bottom: solid 1px #F1F5F9;} 
.v-aligm-middle.table td { vertical-align: middle;}
.input-search {padding-left:2.4rem; background: url(../images/search-gray.svg) no-repeat 0.6rem center;}
.modal-content { padding: 1rem;}
.modal-header { margin: 0 1rem; padding: 1rem 0 1rem; border-bottom-width: 2px;}
.modal-body {padding: 2rem 1rem 1rem;}
.modal-header .close {padding: 0.7rem; outline: none;}
.modal-header .close span { width: 26px; height: 26px; display: inline-block; line-height: 22px; border:solid 2px var(--black); border-radius: 100%;}
.doughnut .count-title { position: absolute; top: 50%; left: 50%; width: 100px; line-height: 30px; margin: -15px 0 0 -50px; user-select: none; text-align: center; z-index: 1; transition-duration: 0.4s;}
.doughnut:hover .count-title { opacity: 0;}
.nav-pills.nav-sm .nav-link {padding: 0 1.2rem; height: 30px; line-height: 30px;}
.nav-pills .nav-link { color: var(--black);}
.nav-pills .nav-link.active { background: var(--primary);}
.btn-icon-sm { line-height: normal; height: auto;}
.btn-icon { min-width: 40px;}
.status { width: 8px; height: 8px; border-radius: 2px; display: inline-block;}
.branch-donut .title-head .btn svg { width: 8px;}
.branch-donut .title-head .btn:hover svg path, .branch-donut .title-head .btn:focus svg path { stroke: #fff; }
.dropdown-menu .inner[aria-multiselectable="true"] {padding: 0 1rem;}
.dropdown-menu .inner[aria-multiselectable="true"] .dropdown-item { position: relative; border-bottom: solid 1px #f2f2f2; padding:1rem 0.5rem; background: none;}
.dropdown-menu .inner[aria-multiselectable="true"] li:last-child .dropdown-item { border:none;}
.dropdown-menu .inner[aria-multiselectable="true"] span.check-mark { position: absolute; width: 18px; height: 18px; border:solid 2px #ced4da; top:1.2rem; right: 0.5rem; display: block; border-radius: .25rem;}
.dropdown-menu .inner[aria-multiselectable="true"] .dropdown-item.selected span.check-mark { top: 1.2rem; right: 0.5rem; background: var(--primary); border-color: var(--primary);}
.dropdown-menu .inner[aria-multiselectable="true"] .dropdown-item span.check-mark:after { top: 3px; left: 2px;}
.perm-table .btn-checkbox input[type="checkbox"] + label { padding-left: 18px;}
@keyframes DropDownSlide {
	100% {transform: translateY(0);}
	0% {transform: translateY(-10px);}	
}
.toggle-password.btn { border-color:#ccc; border-left: none; background-color:#fff; background-position:center; border-radius:0 .25rem .25rem 0 !important;}
/** New **/
.lagend-tile {min-width: 14px; min-height: 14px;}
.legend-title { min-width: 100px; font-size: 0.8rem;}
.legend-value { min-width: 50px; text-align: right; font-size: 0.8rem;}
.progress, .progress-bar { height: 8px; border-radius: 10px;}
.legend-box { width: 14px; height: 14px; margin-right: 0.5rem;}
.form-control-sm.bootstrap-select > .btn {height: 30px; font-weight: 600; font-size: 0.7rem; line-height: 28px; padding: 0 0.7rem 0 0.5rem;}
.form-control-sm.bootstrap-select>.dropdown-toggle:after {margin-top: 0;}
.progress-donut {position: relative; text-align: center; display: inline-block;}
.percent { position: absolute; z-index: 2; font-size: 1.2rem; font-weight: 600; height: 100%; width: 100%; color: var(--default); text-align: center;}
/** New **/


/** Responsive **/
@media screen and (min-width:1200px) {
	.is-open .navbar-menu .nav-link .nav-title, .is-open .navbar-menu [data-toggle="collapse"].nav-link::after { opacity: 0; visibility: hidden;}
	.is-open .navbar-menu { overflow: hidden;}
	.is-open .dashboard { margin:0 0 0 80px;}	
	.is-open .navbar-menu .sub-menu { display:none !important;}
	.is-open .menu-logo {min-width:70px; width: 70px; left: 0;}
	.is-open .navbar-brand-logo {padding: 10px;}
	.is-open .navbar-brand-logo img { height: auto}
}
@media screen and (max-width:1199px) {
	.navbar-menu .nav-icon {min-width: 40px;}
	.navbar-menu .sub-menu { padding: 0 0 0 65px;}
	.is-open .vertical-menu { min-width:250px; width: 250px;}
	.is-open .nav-blocker { display: none;}
	.brand-logo { max-width: 180px;}
	.brand-name { font-size: 20px;}
	.navbar-brand-logo { max-width: 170px; padding: 0 1rem; margin: 0 2rem 0 0;}
	.navbar-brand-title {color: #999; font-size: 0.725rem; margin: 0 0 0 5px; padding: 0 0 0 5px; border-left: solid 1px #999; display: inline-block;}
	.page-topbar {padding-left: 120px;}
	.mobile-brand-logo {width: 50px; line-height: 70px; position:absolute; top:0; left:70px;}
	.page-topbar .nav-link { min-width: 50px;}
	.avtar-img { border-radius: 100% !important;}
	.page-topbar, .is-open .vertical-menu { left: 0}
	.navbar-menu { top: 0; padding: 20px 0; height: 100%;}
	.vertical-menu { left: -250px; padding-bottom: 0;}	
	.nav-collapse-btn {right: -50px;}
	.nav-collapse-btn span, .nav-collapse-btn span::before, .nav-collapse-btn span::after { background: var(--primary);}
	.dashboard { margin: 0}	
	.is-open .nav-collapse-btn span { background-color: transparent;}
	.is-open .nav-collapse-btn span::before, .is-open .nav-collapse-btn span::after {background: var(--white); width: 100%; height: 3px; top: 0;}
	.is-open .nav-collapse-btn span::before { transform: rotate(45deg);}
	.is-open .nav-collapse-btn span::after { transform: rotate(-45deg);}
	.is-open .backdrop { visibility: visible; opacity: 1;}
	
	
}
@media screen and (max-width:767px) {	
	.page-topbar {height: 50px;}
	.nav-collapse-btn {top:0;}
	.avtar-img { max-height: 30px;}
	.page-topbar .nav-link { min-width: 40px; padding: 0 8px; line-height: 50px; text-align: center}
	.navbar-brand-logo {max-width: 100px; padding: 0 10px 0 0; margin: 0;}
	.header-icon { max-height: 18px;}
	.header-notify .nav-link .badge { top: 10px; right: 0px;}
	.dropdown-lg {width: 275px;}
	.topbar-search { visibility: hidden; opacity: 0; position: absolute; top: 30px; transition-duration: 0.4s; left: 0; width: 100%; background: #fff; height: 40px; border-top: solid 1px #f2f2f2; box-shadow: 0 2px 4px rgb(15 34 58 / 12%)}
	.is-open.topbar-search {top: 50px; visibility: visible; opacity: 1;}
	.topbar-search .form-control { padding-right: 50px;}
	.close-search { position: absolute; top: 0; right: 0; font-size: 26px; width: 40px; color: var(--primary); cursor: pointer; text-align: center}
	.dashboard-content {padding: calc(50px + 1.25rem) calc(2rem / 2) 60px;}
	.modal { padding: 0 !important;}
	.nowrap-mob { white-space: nowrap;}
	.btn { padding: 0 1rem;}
	.header-date { font-size: 0.6rem;}
	.h1, h1 { font-size:2.4rem; }
	.h2, h2 { font-size:1.8rem; }
	.h3, h3 { font-size:1.2rem; }
	.h4, h4 { font-size:0.85rem; }
	.h5, h5 {font-size:0.725rem;}
	.navbar-brand-logo img { max-height: 35px; width: auto;}
	.mobile-brand-logo { width: 38px; line-height: 50px; left: 50px;}
	.is-open .nav-collapse-btn { right: 0;}
	
}
@media screen and (max-width:575px) {
	.sort-by { width: 100%;}
	.time-slot span { min-width: 60px;}
	
}

/** Responsive **/


